<div class="circle-tags-container">
	<div class="internal-tags-container">
		{%-for block in section.blocks-%}
		<a href="{{block.settings.tag_url}}">
			<div class="tag-container">
				<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{-block.settings.tag_img | img_url:"130x"-}}">
				<a href="{{-block.settings.tag_url-}}">{{-block.settings.tag_txt-}}</a>
			</div>
		</a>
		{%-endfor-%}
	</div>
</div>

{% schema %}
{
"name": "Circle Tag Section",
"settings": [],
"blocks":[
{
"type":"image",
"name":"Tag",
"settings":[
{
"type":"image_picker",
"id":"tag_img",
"label":"Image"
},
{
"type":"text",
"id":"tag_txt",
"label":"Tag Text"
},
{
"type":"url",
"id":"tag_url",
"label":"Tag URL"
}
]
}
],
"presets":[
{
"category": "Home Page",
"name": "Circle Tag Section"
}
]
}
{% endschema %}