{%layout none%}
<div class="related-article">
  <div class="ra-img"><img src="{{article.image | img_url: "master"}}" /></div>
  <div class="ra-text">
    <p class="art-category">LIVE SOZY</p>
    <p class="ra-title">{{article.title}}</p>
    <a class="ra-cta" href="{{article.url}}">READ NOW</a></div>
</div>