{{'exchanges_returns_stylesheet_2021.css' | asset_url | stylesheet_tag}}


<section class="exchanges_returns__header">
  <h1>EXCHANGES & RETURNS</h1>
</section>

<section class="exchange_returns_snippet">
  <div class="snippet__internal">
    <div class="snippet_img">
      <img src="https://cdn.shopify.com/s/files/1/3012/3948/files/foreverPerks.jpg">
    </div>  
    <div class="copy">
      <h2>LOOKING TO EXCHANGE <span></span> OR RETURN?</h2>
      <p>We’ll help you get started! Just have your order number and shipping zip code in hand. 
        You’ll find your order number in your Sozy Order Confirmation 
        email or Packing Slip. Got it? Then lets get started!
      </p>
      <a href="https://exchanges.livesozy.com/#/">GET STARTED</a>
    </div>
  </div>
</section>

<section class="exchange_returns__policy">
  <div class="policy__internal">
    <h2>Our Exchange & <span></span>Return Policy</h2>  
    <p>    
      We know that you will love what you ordered but if something doesn't work out, 
      we will gladly accept unworn, unwashed or defective merchandise for return or
      exchange within 30 days from the shipping date. Unless you are processing an exchange, 
      $5 will be deducted from your refund for return shipping. Original shipping costs are non-refundable. 
      Items purchased outside of the United States are not eligible for returns due to customs issues. 
      "Final Sale” means the specified items are not eligible for return or exchange.
    </p>
    <p>
      Your refund will go back to the original method of payment used to make the purchase.
      We usually process returns quickly, but just in case, please allow up to 14 business
      days from when we receive the items for your account to be refunded.
    </p>

    <div class="policy__questions">      
      <div class="divider"></div>      
      <h3>HAVE MORE QUESTIONS</h3>
      <p>Please email us with any questions you might have - we are here to help. </p>
      <ul>
        <li>Email Us: <a href="info@livesozy.com">info@livesozy.com</a></li>
        <li>Call Us: 760.503.7194</li>
      </ul>
    </div>  
  </div>
</section>